@model SimpleSocialNetwork.WebUI.ViewModels.UpdatePasswordViewModel

<h3>Update password</h3>
@using (Html.BeginForm("UpdatePassword","Settings"))
{   
   
    @Html.AntiForgeryToken()
    @Html.EditorForModel()

    <p>
        <input type="submit" value="Update password" />
    </p>
}



