<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICommentService" />
                <binding name="BasicHttpBinding_IUserService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50081/Concrete/CommentService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICommentService"
                contract="CommentServiceReference.ICommentService" name="BasicHttpBinding_ICommentService" />
            <endpoint address="http://localhost:50081/Concrete/UserService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserService"
                contract="UserServiceReference.IUserService" name="BasicHttpBinding_IUserService" />
        </client>
    </system.serviceModel>
</configuration>